config/autoload/*
!config/autoload/*global.php
!config/autoload/*template.php
config/application.config.php
config/modules.config.php
data
module/*
!module/Application
public/MDB-Pro
public/photos/*
public/img/*
!public/img/carre80.png
!public/img/2pit_io
!public/img/flags
!public/img/p-pit-studies
public/logos/*
!public/logos/2pit_io
public/style/*
vendor/dropbox
vendor/TCPDF-master
vendor/Ppit*
!vendor/PpitCommitment
!vendor/PpitCore
!vendor/PpitFlow
!vendor/Ppituser

