config/autoload/*
!config/autoload/*global.php
config/application.config.php
data
module/*
!module/Application
public/MDB-Pro
public/photos/*
public/img/*
!public/img/2pit_io
!public/img/flags
public/logos/*
!public/logos/2pit_io
vendor/Ppit*
!vendor/PpitCommitment
!vendor/PpitCore
!vendor/Ppituser

